#incartQty{
  float:right;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding: 5px 25px 0 0;
  font-size: 14px;
  color: #CB5538; 

}

.my-bag{
  margin: 50px 0 20px 200px;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  color: #CB5538; 
}

.display-flex-container{
	display:flex;
  flex-wrap: nowrap;
	flex-direction: row;
	justify-content:center;
  margin: 0 200px 100px 200px;
}

.order-synopsis,.order-subtotal{
  width:100%;
}

.sub-flex{
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 650px;
  /*justify-content:center;*/
  /*margin: 50px;*/
}

.child-1{
  float:left;
  width:100%;
}

.child-2{
  margin: 0 0 0 0px;
  width:100%;
}

.select{
  font-weight: 700;
  display:inline;
  padding: 5px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #5E5E5E;
}
.insert1{
  display:inline;
  padding: 5px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #5E5E5E;
}

.bun-name{
  margin:0 0 20px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  color: #CB5538;   
}

.order-subtotal{
  float:right;
  margin: 0 0 0 70px;
}

.summary-title{
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #CB5538;
  letter-spacing: 0.5em;
}

.elementSpace{
  padding-top: 10px;
  padding-bottom: 10px;
}

.side{
  display:inline;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

.insert2{
  float:right;
  display:inline;
}

hr{
    margin: 20px 0;
}

.order-total{
  font-weight: 700;
  display: inline;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #5E5E5E; 
  letter-spacing: 0.2em;
  padding: 10px 0;
}

/* Styled Add to Cart Button */
.styled {
  margin: 50px 0;
	width: 100%;
	height: 48px;
  font-size: 1rem;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #CB5538;   
}
.styled:hover {
    background-color: #E45835;
}
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
